@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  padding-bottom: 83px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Roboto;
}

header {
  padding: 0 145px;
  margin: 0 auto;
  max-width: 1440px;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_header {
  display: flex;
}

.links_header {
  margin-right: 29px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links_header a {
  text-decoration: none;
  color: #2f281e;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.links_header a :hover {
  /* TODO тут лишній пробіл між тегом a і :hover (через це не працює hover) */
  text-decoration: underline;
}

button {
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

.white_button {
  background-color: #ffffff;
  color: #173a56;
  height: 46px;
  width: 135px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  font-weight: 600;
  margin-right: 14px;
}

.orange_button {
  background-color: #ff9900;
  color: #ffffff;
  height: 46px;
  width: 135px;
  border-radius: 4px;
  border: 1px solid #ff9900;
  font-weight: 600;
}

.white_button:hover {
  background-color: #ff9900;
  color: #fff;
  border: none;
}

.orange_button:hover {
  background-color: #fff;
  color: #173a56;
}

main {
  padding: 0 145px;
  margin: 0 auto;
  max-width: 1440px;
}

.flex_container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.block1_content {
  margin-top: 83px;
}

h1 {
  font-size: 44px;
  color: #2f281e;
  width: 518px;
}

.block1_content p {
  color: #544837;
  height: 95px;
  width: 458px;
  margin: 30px 0 45px 0;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Poppins', sans-serif;
}

.button_link_block1 {
  display: flex;
  justify-content: space-between;
  width: 366px;
  font-family: 'Poppins', sans-serif;
}

.button_block1 {
  width: 175px;
  margin-right: 30px;
}

.link_block1 {
  display: flex;
  align-items: center;
  color: #ff9900;
}

.link_block1 span {
  margin-left: 8px;
}

.image_block {
  transform: translateX(20px);
  row-gap: 20px;
}

h2 {
  color: #2f281e;
  font-size: 36px;
}

.block2_content {
  margin-top: 140px;
}

.block2_container {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  gap: 50px;
}

.title_block2 {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.block2_content p {
  color: #544837;
  height: 52px;
  width: 240px;
  margin: 15px 0 60px 0;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Poppins', sans-serif;
}

.colorpointer {
  background-color: #7752be;
}

.colorwave {
  background-color: #fab005;
}

.colorheart {
  background-color: #f03e3d;
}

.colorhourglass {
  background-color: #4dadf7;
}

.icons {
  border-radius: 20px;
  height: 50px;
  width: 50px;
  padding: 18px;
  color: #ffffff;
}

.checkbox {
  border-radius: 10px;
  height: 35px;
  width: 35px;
  color: #ffffff;
  background-color: #ff9900;
  padding: 10px;
}

h3 {
  margin: 30px 0 15px 0;
  color: #2f281e;
}

.button_block2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.block3_content {
  margin-top: 240px;
  display: flex;
  justify-content: space-between;
}

.block3_content span {
  padding-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.block3_content p {
  color: #544837;
  width: 486px;
  margin: 24px 0 30px 0;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Poppins', sans-serif;
}

.block4_content {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.block4_content span {
  padding-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.block4_content p {
  color: #544837;
  width: 486px;
  margin: 24px 0 30px 0;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Poppins', sans-serif;
}

.checkbox_text {
  float: left;
  padding-right: 15px;
}

.block5_content {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.block5_content span {
  padding-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.block5_content p {
  color: #544837;
  width: 486px;
  margin: 24px 0 30px 0;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Poppins', sans-serif;
}

footer {
  padding: 0 145px;
  padding-top: 105px;
  margin: 0 auto;
  max-width: 1440px;
}

.footer_content {
  display: flex;
  justify-content: flex-end;
}

.footer_menu {
  width: 740px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer_form {
  width: 325px;
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

footer ul li {
  line-height: 35px;
}

footer ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #2f281e;
}

.footer_input {
  height: 48px;
  padding-left: 15px;
}
