h1 {
  text-align: center;
}

.playlist {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  justify-content: center;
}

.title_table {
  text-align: center;
  background-color: lightseagreen;
  color: aliceblue;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.title_table:hover {
  color: lightseagreen;
  background-color: aliceblue;
}

.element_table {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}
