* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.card_table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-height: 800px;
  gap: 10px;
  border-radius: 4px;
  background-color: green;
  padding: 30px;
}

.card_element1 {
  -webkit-animation-name: card_element1;
          animation-name: card_element1;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card_element2 {
  -webkit-animation-name: card_element2;
          animation-name: card_element2;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card_element3 {
  -webkit-animation-name: card_element3;
          animation-name: card_element3;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card_element4 {
  -webkit-animation-name: card_element4;
          animation-name: card_element4;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card_element5 {
  -webkit-animation-name: card_element5;
          animation-name: card_element5;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.card_element6 {
  -webkit-animation-name: card_element6;
          animation-name: card_element6;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.card_element7 {
  -webkit-animation-name: card_element7;
          animation-name: card_element7;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card_element8 {
  -webkit-animation-name: card_element8;
          animation-name: card_element8;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.card_element1:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.card_element2:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.card_element3:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.card_element4:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.card_element5:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.card_element6:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.card_element7:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.card_element8:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes card_element1 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/6D.svg);
  }
}

@keyframes card_element1 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/6D.svg);
  }
}
@-webkit-keyframes card_element2 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/7H.svg);
  }
}
@keyframes card_element2 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/7H.svg);
  }
}
@-webkit-keyframes card_element3 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/8C.svg);
  }
}
@keyframes card_element3 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/8C.svg);
  }
}
@-webkit-keyframes card_element4 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/9D.svg);
  }
}
@keyframes card_element4 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/9D.svg);
  }
}
@-webkit-keyframes card_element5 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/TS.svg);
  }
}
@keyframes card_element5 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/TS.svg);
  }
}
@-webkit-keyframes card_element6 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/JS.svg);
  }
}
@keyframes card_element6 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/JS.svg);
  }
}
@-webkit-keyframes card_element7 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/QS.svg);
  }
}
@keyframes card_element7 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/QS.svg);
  }
}
@-webkit-keyframes card_element8 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/AH.svg);
  }
}
@keyframes card_element8 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    content: url(../assets/AH.svg);
  }
}/*# sourceMappingURL=index.css.map */