.card_table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  border-radius: 4px;
  background-color: green;
  padding: 30px;
}

.card_element1 {
  animation-name: card_element1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.card_element2 {
  animation-name: card_element2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-delay: 1s;
}

.card_element3 {
  animation-name: card_element3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-delay: 2s;
}

.card_element4 {
  animation-name: card_element4;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-delay: 3s;
}
.card_element5 {
  animation-name: card_element5;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-delay: 4s;
}
.card_element6 {
  animation-name: card_element6;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-delay: 5s;
}
.card_element7 {
  animation-name: card_element7;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-delay: 6s;

}
.card_element8 {
  animation-name: card_element8;
  animation-duration: 2s;
  // animation-iteration-count: infinite;
  transition-delay: 7s;
}


.card_element1:hover {
  animation-play-state: paused;
}

.card_element2:hover {
  animation-play-state: paused;
}


@keyframes card_element1 {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(-90deg);
  }

  50% {
    content: url(../assets/6D.svg);
  }

}

@keyframes card_element2 {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(-90deg);
  }

  50% {
    content: url(../assets/7H.svg);
  }

}

@keyframes card_element3 {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(90deg);
  }

  50% {
    content: url(../assets/8C.svg);
  }
}

@keyframes card_element4 {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(90deg);
  }

  50% {
    content: url(../assets/9D.svg);
  }
}
@keyframes card_element5 {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(90deg);
  }

  50% {
    content: url(../assets/TS.svg);
  }
}

@keyframes card_element6 {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(90deg);
  }

  50% {
    content: url(../assets/JS.svg);
  }
}

@keyframes card_element7 {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(90deg);
  }

  50% {
    content: url(../assets/QS.svg);
  }
}
@keyframes card_element8 {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(90deg);
  }

  50% {
    content: url(../assets/AH.svg);
  }
}
